@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

$text-color-red: #f05054;
$text-color-yellow: #ffc947;
$margin-bottom-map: 275px;


.button-footer {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.42857143em;
    background: #c94144;
    padding: 15px 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-bottom: 4px solid #af373a;
}

.button-footer:hover {
    background: #af373a;
    text-decoration: none;
}

.font-color-yellow {
    color: $text-color-yellow;
}
.font-color-orange {
    color: #f1585c;
    font-size: 28px;
    padding-top: 45px;
}

.font-color-or {
    color: #c2b181;
}

.font-color-or-fonce {
    color: #797461;
}

.font-weight-light {
    font-weight: 100;
}
.btn-map {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.42857143em;
    background: #f05054;
    padding: 15px 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.btn-map:hover {
    background: #af373a;
    text-decoration: none;
    color: white;
}

.text-color-red {
    color: $text-color-red;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.prata {
    font-family: 'Prata', serif;
}

.px36{font-size:36px}
.px24{font-size:24px}
.px20{font-size:20px}

.dosis-custom {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #fff;
    font-size: 1.71428571em;
    margin-bottom: 0;
}

.underline-none {
    text-decoration: none!important;
}


.rond-rouge {
    background-color: #f05054;
    border-radius: 50%;
    width: 317px;
    height: 317px;
    text-align: center;
    color: white;
    font-size: 13px;
    .rond-txt1{
        margin: auto;
        position: absolute;
        top: 60px;
        left: -200px;
        bottom: 0;
        right: 0;
        font-size: 23px;
    }
    .rond-txt2{
        margin: auto;
        position: absolute;
        top: 131px;
        left: -200px;
        bottom: 0;
        right: 0;
        font-size: 20px;
    }
    .rond-txt3{
        margin: auto;
        position: absolute;
        top: 196px;
        left: -200px;
        bottom: 0;
        right: 0;
        font-size: 16px;
        font-weight: bold;
    }
}

.rond-marron {
    background-color: #ddb146;
    border-radius: 50%;
    width: 261px;
    height: 261px;
    text-align: center;
    color: white;
    font-size: 13px;
}

#block-arbre {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: 71%;
    p {
        position: absolute;
        top: 154px;
        right: 165px;
    }
    img{
        width: 100%;
    }
}

.text-uppercase{
    text-transform: uppercase;
}

header {
    #logo-bas{
        margin-left: 9%;
        width: 11%;
        margin-top: 16px;
    }
    #logo-rive-gauche{
        margin-top: 65px;
    }
    .triangle-1 {
        position: absolute;
        top: 150px;
        left: 0px;
    }
    .logo-subtitle{
        font-size: 20px;
        font-family: 'Prata', serif;
        color: #c2b181;
        margin-bottom: 80px;
    }
    #block-triangle-top {
        position: relative;
        left: 400px;
        bottom: 100px;
        width: 125px;
        .triangle-3 {
            position: absolute;
            top: 100px;
            left: 95px;
        }
        .triangle-2 {
            position: absolute;
            top: 50px;
        }
    }
    #block-rond {
        position: relative;
        margin-top: 115px;
        padding-left: 20%;
        .rond-marron {
            position: absolute;
            top: -98px;
            left: 450px;
            .rond-txt1{
                margin: auto;
                position: absolute;
                top: 86px;
                left: 0;
                bottom: 0;
                right: 0;
                font-size: 23px;
            }
            .rond-txt2{
                margin: auto;
                position: absolute;
                top: 107px;
                left: 0;
                bottom: 0;
                right: 0;
                font-size: 36px;
            }
        }
        .logo-env {
            position: absolute;
            bottom: -37px;
            left: 53%;
            width: 12%;

        }
        .triangle-4 {
            z-index: 1;
            position: absolute;
            bottom: -128px;
            right: 132px;
            width: 330px;
        }
    }
    #block-text-header {
        position: absolute;
        top: -80px;
        right: -45;
        z-index: -1;
    }
}

#fauteuil-formululaire {
    margin-top: -4%;
    z-index: -2;
    .img-fauteuil {
        width: 55.5%;
    }
    iframe {
        width: 100%;
        height: 500px;
    }
    #block-info{
        position: absolute;
        background-color: white;
        height: 360px;
        width: 42%;
        top: 1700px;
        left: 4%;
        border-radius: 16px;
        overflow: visible;
        .triangle-block-info{
            position: absolute;
            width: 28%;
            right: -9%;
            top: -29%;
        }
        .block-info-txt1{
            font-size: 25px;
            color: #0082a9;
            margin-top: 50px;
        }
        .block-info-txt2{
            font-size: 23px;
            padding: 0px 120px 0px 120px;
        }
        .block-info-txt3{
            padding: 0px 160px 0px 160px;
            color: #4a3a00;
            font-size: 16px;        
        }
    }
    form {
        color: black;
        input {
            border: 1px solid #f05054;
        }
        .btn-map{
            padding-top: 40px;
            padding-bottom: 40px;
        }
        input[type="text"], input[type="email"], input[type="tel"], textarea {
            width: 330px;
            border-radius: 10px;
            border: 1px solid #f05054;
        }
        textarea{
            height: 162px;
        }
        input[type="text"], input[type="email"], input[type="tel"]{
            height: 50px;
        }
        .red-checkbox {
            margin-top: 17px;
            margin-left: 67px;
            width: 1.3em;
            height: 1.3em;
            background-color: white;
            border-radius: 50%;
            vertical-align: middle;
            border: 1px solid #f05054;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
        }
        .red-checkbox:checked {
            border: 2px solid #f05054;
        }
        .label-checkbox{
            font-size: 13px;
        }
        .label-checkbox2{
            font-size: 12px;
            text-align: justify;
        }
        .red-checkbox:checked:before {
            content: "";
            display: block;
            position: relative;
            top: 1.5px;
            left: 1.5px;
            width: 14px;
            height: 14px;
            border: 1px solid white;
            border-radius: 50%;
            background: #f05054;
        }
        .black-checkbox {
            width: 1em;
            height: 1em;
            margin-top: 8px;
            background-color: white;
            border-radius: 50%;
            vertical-align: middle;
            border: 1px solid black;;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
        }
        .black-checkbox:checked {
            background-color: black;
        }
        .black-checkbox:checked:before {
            content: "";
            display: block;
            position: relative;
            top: 2px;
            left: 2px;
            width: 11px;
            height: 11px;
            border: 2px solid white;
            border-radius: 50%;
            background: black;
        }
    }
    #contact-form{
        background-color: white;
        border-radius: 2%;
        margin-top: -77%;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
}

#contact {
    background-color: #f05054;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px 50px;
    color: white;
    border-bottom-left-radius: 10px;
    a {
        color: white;
    }
    a:hover {
        text-decoration: none;
        color: white;
    }
}

.marge-right{
    margin-right: 20px;
}

#prestations {
    font-family: Roboto, sans-serif;
    h2 {
        font-size: 20px;
        text-align: center;
    }
    .list-custom {
        ul {
            list-style-image: url("../img/puce.jpg");
        }
    }
}

#container-map {
    font-family: 'Roboto', sans-serif;
    margin-bottom: -$margin-bottom-map;
    #block-map {
        position: relative;
        background-color: white;
        border-radius: 5px;
        bottom: $margin-bottom-map;
        p {
            font-size: 12px;
        }
    }
    a.btn-map {
        position: relative;
        bottom: 15px;
    }
    iframe {
        width: 100%;
        filter: grayscale(100%);
    }
}

footer {
    font-family: 'Asap', sans-serif;
    background-color: #c03a3d;
    color: white;
    a {
        color: white;
    }
    a:hover {
        color: white;
        text-decoration: underline;
    }
    ul {
        list-style: none;
    }
    #footer-rappel {
        background-color: #f05054;
        min-height: 150px;
        .grid-container {
            .grid-x {
                min-height: 150px;
            }
        }
    }
    #rappel-limite {
        font-size: 12px;
        background-color: white;
        color: black;
    }
    #footer-finish {
        font-size: 14px;
        ul .font-bold {
            text-decoration: unset!important;
        }
    }
}

@media screen and (max-width: 640px) {
    .btn-center-responsive {
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .btn-map {
        padding: 15px 10px;
    }
    #container-map {
        margin-bottom: unset;
        #block-map {
            bottom: unset;
        }
    }
    header {
        #block-rond {
            margin-top: 20%;
        }
        .rond-rouge {
            width: 190px;
            height: 190px;
        }
        .rond-marron {
            width: 160px;
            height: 160px;
        }
        .triangle-4 {
            display: none;
        }
        #block-arbre {
            margin-top: 150px;
            background-image: url('../img/arbre1.png');
            background-size: cover;
            position: unset;
            width: unset;
            min-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            .arbre-1 {
                display: none;
            }
            p {
                position: unset;
                background-color: rgba(255,255,255,0.7);
                padding: 15px;
                border-radius: 15px;
            }
        }
    }
    footer {
        #footer-finish {
            img {
                margin-bottom: 20px;
            }
        }
        .padding-3 {
            padding: 1rem!important;
        }
    }
}

@media screen and (max-width: 1200px) {

}